//------------------------------------//
//  $CONTENT
//------------------------------------//

.hero {
  position: relative;
  color: $tertiary;
  background: $black;
  .content-over-image {
    @include rem(padding, $base-spacing-unit 0);
  }
  .logo {
    @include hide-text;
    margin: 0 auto;
    width: 220px;
    height: 60px;
    background: url('../images/logo.png') no-repeat;
    background-size: 100%;
    @include media($from: lap) {
      width: 275px;
      height: 75px;
    }
    @include media($from: desk) {
      width: 330px;
      height: 90px;
    }
  }
  .subhead {
    color: $white;
  }
  .github a {
    @include hide-text;
    position: absolute;
    @include rem(top, $base-spacing-unit/2);
    @include rem(right, $base-spacing-unit/2);
    width: 33px;
    height: 33px;
    background: url('../images/github.png') no-repeat;
    background-size: 100%;
    z-index: 20;
  }
  .shoutout {
    color: $black;
    @include rem(font-size, 0.889);
    a {
      color: $black;
    }
  }
  @include media($from: lap) {
    .btn {
      position: absolute;
      top: auto;
      left: 50%;
      bottom: 2em;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      &:hover,
      &:focus {
        bottom: 1.9em;
      }
    }
    .github a {
      @include rem(top, $base-spacing-unit);
      @include rem(right, $base-spacing-unit);
    }
    .shoutout {
      position: absolute;
      @include rem(bottom, $base-spacing-unit/2);
      @include rem(right, $base-spacing-unit);
      color: $tertiary;
      @include rem(font-size, 0.889);
      z-index: 20;
      a {
        color: $tertiary;
      }
    }
  }
  @include media($upto: lap) {
    .figure {
      display: none;
    }
    .content-over-image {
      position: relative;
      @include rem(padding-bottom, $base-spacing-unit/2);
      background: url('../images/hero.png') no-repeat center bottom;
      background-size: auto 100%;
    }
    p:not(.shoutout) {
      margin-bottom: 1em;
    }
    .btn {
      margin-top: 4em;
    }
  }
}

.what {
  position: relative;
  background: $primary;
  .h2 {
    color: $white;
  }
  .figure-on-top {
    background: $secondary;
  }
  @include media($from: lap) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50%;
      background: $secondary;
      z-index: 0;
    }
  }
  @include media($upto: lap) {
    .figure-on-top img {
      max-width: 50%;
    }
  }
}

.key {
  color: $quaternary;
  .h3 {
    display: block;
  }
  img {
    @include rem(margin, 1 0 0.6);
  }
  @include media($from: lap) {
    img {
      @include rem(margin, 0.4 0 1.5);
    }
  }
}

.features {
  background: $gray;
  li {
    position: relative;
    padding-bottom: 1em;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      height: 10px;
      width: 10px;
      background: $gray-dark;
      border-radius: 100%;
    }
    &:last-child {
      padding-bottom: 0;
      &:after {
        content: none;
      }
    }
  }
}

.launch {
  position: relative;
  color: $white;
  background: $black;
  a {
    color: $tertiary;
  }
  .figure-on-top {
    @include rem(padding-top, $base-spacing-unit);
    background: $tertiary;
  }
  .numbers {
    margin: 0;
    counter-reset: li;
    li {
      position: relative;
      list-style: none;
      padding: 2.5em 0 2em;
      &:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 0.2em 0.5em 0.1em;
        color: $black;
        font-family: $font-head;
        @include rem(font-size, 1.667);
        line-height: 1;
        background: $tertiary;
        border-radius: 100%;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  @include media($from: lap) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      background: $tertiary;
      z-index: 0;
    }
    .figure-on-top {
      @include rem(padding-top, $base-spacing-unit*2);
    }
    .numbers {
      margin-top: 3.333em;
    }
  }
  @include media($upto: lap) {
    .figure-on-top img {
      max-width: 40%;
    }
  }
}

.customize {
  color: $white;
  background: $secondary;
  li {
    position: relative;
    padding-bottom: 1em;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      height: 10px;
      width: 10px;
      background: $primary;
      border-radius: 100%;
    }
    &:last-child {
      padding-bottom: 0;
      &:after {
        content: none;
      }
    }
  }
}

.created {
  color: $tertiary;
  a {
    display: block;
    margin: 0.5em 0;
    text-decoration: none;
    background: $tertiary;
    border-radius: 0.5em;
    img {
      width: 100%;
    }
    span {
      display: inline-block;
      padding: 0.8em 0.2em;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
  @include media($from: lap) {
    a {
      @include rem(margin, $base-spacing-unit 0 0);
      @include rem(font-size, 0.889);
    }
  }
  @include media($from: desk) {
    a {
      @include rem(font-size, 1);
    }
  }
}

.credits {
  position: relative;
  color: $white;
  background: $gray;
  .grid {
    position: relative;
  }
  .figure-on-top {
    background: $gray-dark;
    .padding {
      padding-bottom: 0;
    }
    a {
      color: $white;
    }
  }
  @include media($from: lap) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      background: $gray-dark;
      z-index: 0;
    }
  }
}

.download {
  @include rem(padding, $base-spacing-unit*2 0);
  @include media($from: lap) {
    @include rem(padding, $gutter*3 0);
  }
}

.contribute {
  @include rem(padding, $base-spacing-unit 0);
  color: $white;
  background: $black;
  p {
    margin-bottom: 1.5em;
  }
  @include media($from: lap) {
    .twitter {
      width: 90px;
    }
  }
  @include media($upto: lap) {
    .h-list--centered li {
      display: block;
    }
  }
}

.footer {
  @include rem(padding, $base-spacing-unit 0);
  @include rem(font-size, 0.889);
  background: $tertiary;
}
