//------------------------------------//
//  $CONTENT
//------------------------------------//

.hero {
  position: relative;
  color: $tertiary;
  background: $black;
  .content-over-image {
    @include rem(padding, $base-spacing-unit 0);
  }
  .logo {
    @include hide-text;
    margin: 0 auto;
    width: 330px;
    height: 90px;
    background: url('../images/logo.png') no-repeat;
    background-size: 100%;
  }
  .subhead {
    color: $white;
  }
  .btn {
    position: absolute;
    left: 50%;
    bottom: 2em;
    @include translateX(-50%);
  }
  .github {
    @include hide-text;
    position: absolute;
    @include rem(top, $base-spacing-unit);
    @include rem(right, $base-spacing-unit);
    width: 33px;
    height: 33px;
    background: url('../images/github.png') no-repeat;
    background-size: 100%;
    z-index: 20;
  }
  .shoutout {
    position: absolute;
    @include rem(bottom, $base-spacing-unit);
    @include rem(right, $base-spacing-unit);
    z-index: 20;
    a {
      color: $tertiary;
    }
  }
}

.intro {
}

.what {
  position: relative;
  background: $primary;
  .h2 {
    color: $white;
  }
}

.key {
  color: $quaternary;
}

.features {
  background: $gray;
}

.launch {
  color: $white;
  background: $black;
  a {
    color: $tertiary;
  }
}

.customize {
  color: $white;
  background: $secondary;
}

.created {
  color: $tertiary;
  a {
    text-decoration: none;
    background: $tertiary;
    border-radius: 1em;
  }
}

.credits {
  color: $white;
  background: $gray;
  .grid {
    position: relative;
  }
  .content-over-image {
    a {
      color: $white;
    }
  }
}

.download {
  @include rem(padding, $base-spacing-unit*2 0);
  @include media-query(lap-and-up) {
    @include rem(padding, $gutter*3 0);
  }
}

.contribute {
  @include rem(padding, $base-spacing-unit 0);
  color: $white;
  background: $black;
  p {
    margin-bottom: 1.5em;
  }
}

.footer {
  @include rem(padding, $base-spacing-unit 0);
  @include rem(font-size, 0.889);
  background: $tertiary;
}
