@use "sass:math";
//------------------------------------//
//  $VARIABLES
//------------------------------------//

/*
  spaceBase version: 4.2.1
  http://spacebase.space150.com
*/

// Include push styles?
$push: true;

// Include responsive grid widths w/breakpoint namespace?
$responsive:      true;
$responsive-push: true;

// Base measurements
$base-font-size:         18px;
$base-line-height:       30px;
$base-font-size--mobile: $base-font-size;
// Set to px value if mobile requires different font size

// Calculated measurements
$line-height-ratio: math.div($base-line-height, $base-font-size);

$base-spacing-unit: $line-height-ratio * 1rem;
$half-spacing-unit: math.div($base-spacing-unit, 2);

// Grid
$gutter: $base-spacing-unit;

// Layout
$site-min-width:         320px;
$site-wrapper-max-width: 1024px;

// Breakpoints
$media-breakpoints: (
  hand: 480px,
  lap:  768px,
  desk: 1024px,
  wall: 1200px
);

// Media query expressions
$media-features: (
  portrait:  '(orientation: portrait)',
  landscape: '(orientation: landscape)',
  at2x: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  at3x: '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
);

// Colors
$black:        #583318;
$gray-dark:    #91857d;
$gray:         #c2b2a7;
$gray-light:   #dfd7d0;
$white:        #fff9ee;

$primary:      #7abcb5; // light teal
$secondary:    #41a29c; // dark teal
$tertiary:     #e48d38; // orange
$quaternary:   #c46e35; // dark orange

// quinary, senary, septenary, octonary, nonary, denary

// List of colors used to automatically populate styleguide
$styleguide-colors:
$black, $gray-dark, $gray, $gray-light, $white, $primary, $secondary, $tertiary, $quaternary;

// Form validation colors
$state-success:  #468847;
$state-error:    #b94a48;

// Fonts
$font-body:    "Source Sans Pro", Arial, Helvetica, sans-serif;
$font-head:    "Fontatica4F", Arial, Helvetica, sans-serif;
